<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Safer</title>
    <!--Defer carregar por ultimo os scripts-->
    <script defer src="./scripts/d3.min.js"></script>
    <script defer src='scripts/lab04.js'></script>
    <script defer src='scripts/lab04chart.js'></script>
    <link rel="stylesheet" href="styles/css/style.css"/>
    <link rel="stylesheet" href="styles/css/lightslider.css">

    <!--Js Link------------------------------------------------------------------------------------------------>
    <script defer src="styles/js/JQuery3.3.1.js"></script>
    <script defer src="styles/js/lightslider.js"></script>
    <!--Icon do Site------------------------------------------------------------------------------------------------>
    <link rel="icon do site" href="styles/images/icon.jpg"/>
    <!--Link da FontAwesome para icons personalizados------------------------------------------------------------------------------------------------>
    <script defer src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
</head>
<body>
    {{{body}}}
     <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <script>
      $(document).ready(function() {
    $('#autoWidth, #autoWidth2').lightSlider({
        autoWidth:true,
        loop:true,
        onSliderLoad: function() {
            $('#autoWidth,#autoWidth2').removeClass('cS-hidden');
        } 
    });  
  });
  </script>
</body>
</html>