<!-- Modal-->
<div class="modal fade" id="modal-add-task" tabindex="-1" style="padding-right: 16px;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-0">
      <div class="cs-view show" id="modal-signin-view">
        <div class="modal-header bg-light">
          <h4 class="modal-title text-primary">Add Task</h4>
          <button class="close text-dark" type="button" data-dismiss="modal" aria-label="Close" id="close-add-task"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body px-4">
            <form class="needs-validation" novalidate="" action="javascript: app.processingTask();" method="post" id="form-add-task">
                <div class="form-group">
                    <textarea class="form-control prepended-form-control" id="textarea-input-add-task" name="message" placeholder="Your Message Here..." rows="5" required=""></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control prepended-form-control" type="date" width="50px" name="date" id="date-input-add-task" placeholder="00-00-00">
                </div>
                <div class="form-group">
                    <label for="select-input">Project</label>
                    <select class="form-control custom-select prepended-form-control" name="project" id="select-input-project">
                        
                    </select>
                </div>
                <div class="form-group">
                    <label for="select-input">Priority</label>
                    <select class="form-control custom-select prepended-form-control" name="priority" id="select-input-priority">
                        <option>No Priority</option>
                        <option>Priority 1</option>
                        <option>Priority 2</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Add Task</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>