
      {{>modal}}
      <section class="position-relative bg-faded-primary pb-5 pb-md-6 pb-lg-7">
        <div class="cs-shape cs-shape-bottom cs-shape-curve bg-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
            <path fill="currentColor" d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
          </svg>
        </div>
        <div class="container pt-4 pt-md-5 pt-lg-0" style="height: 60vh; ">
          <div class="row d-flex align-items-center justify-content-center" style="height: 100%;">
            <div class="col-lg-6 text-center text-lg-left">
              <div class="jumbotron">
                <h1 style="font-size: 4rem;">Good To Recycle</h1>
                <p class="pb-3 text-center">Ajuda o teu planeta e quem lá vive.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Features section #1-->
      <section class="container py-5 py-md-6 py-lg-7">
        <div class="row pt-2">
          <div class="col-sm-4 mb-grid-gutter pb-1">
            <div class="mx-auto text-center" style="max-width: 278px;"><img class="d-inline-block mb-3" width="56" src="icons/01.svg" alt="Simple"/>
              <h3 class="h5">Simple</h3>
              <p class="font-size-sm mb-0">Find aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
          <div class="col-sm-4 mb-grid-gutter pb-1">
            <div class="mx-auto text-center" style="max-width: 278px;"><img class="d-inline-block mb-3" width="56" src="icons/02.svg" alt="Fast"/>
              <h3 class="h5">Fast</h3>
              <p class="font-size-sm mb-0">Find aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
          <div class="col-sm-4 mb-grid-gutter pb-1">
            <div class="mx-auto text-center" style="max-width: 278px;"><img class="d-inline-block mb-3" width="67" src="icons/03.svg" alt="Organized"/>
              <h3 class="h5">Organized</h3>
              <p class="font-size-sm mb-0">Find aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Features section #2-->
      <section class="container py-5 py-md-6 py-lg-7">
        <div class="row align-items-center pt-3 pt-md-0">
          <div class="col-md-7"><img class="d-block mx-auto" width="705" src="images/features.jpg" alt="Features"/>
          </div>
          <div class="col-xl-4 col-md-5 offset-xl-1 pt-5 pt-md-0">
            <h2 class="mb-3 text-center text-md-left">Organize your work anywhere</h2>
            <p class="text-center text-md-left">Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <div class="row pt-5">
              <div class="col-6 pb-1 mb-grid-gutter"><img class="d-block mb-3" width="29" src="icons/04.svg" alt="Easy to edit"/>
                <h3 class="h6">Easy to edit</h3>
                <p class="font-size-sm mb-0">Find aute irure dolor in reprehenderit in volatekal</p>
              </div>
              <div class="col-6 pb-1 mb-grid-gutter"><img class="d-block mb-3" width="28" src="icons/05.svg" alt="Upload files"/>
                <h3 class="h6">Upload files</h3>
                <p class="font-size-sm mb-0">Find aute irure dolor in reprehenderit in volatekal</p>
              </div>
              <div class="col-6 pb-1 mb-grid-gutter"><img class="d-block mb-3" width="26" src="icons/06.svg" alt="Control schedule"/>
                <h3 class="h6">Control schedule</h3>
                <p class="font-size-sm mb-0">Find aute irure dolor in reprehenderit in volatekal</p>
              </div>
              <div class="col-6 pb-1 mb-grid-gutter"><img class="d-block mb-3" width="36" src="icons/07.svg" alt="Mark tasks"/>
                <h3 class="h6">Mark tasks</h3>
                <p class="font-size-sm mb-0">Find aute irure dolor in reprehenderit in volatekal</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Pricing-->
      <section class="pt-lg-3">
        <h2 class="d-block bg-gradient text-light text-center py-5 px-3 mb-5">Pricing plans</h2>
        <div class="container pt-2">
          <div class="row justify-content-center pt-5">
            <div class="col-lg-10">
              <div class="bg-light box-shadow-lg rounded-lg pt-3 px-4">
                <div class="cs-pricing-wrap pt-3 px-3">
                  <div class="cs-price-switch justify-content-end"><span class="cs-price-label mr-2">Monthly</span>
                    <div class="custom-control custom-switch">
                      <input class="custom-control-input" type="checkbox" id="priceSwitch">
                      <label class="custom-control-label" for="priceSwitch"></label>
                    </div><span class="cs-price-label ml-1">Annual</span>
                  </div>
                  <div class="d-md-flex align-items-start border-bottom py-4 py-sm-5">
                    <div class="ml-4 ml-sm-0 py-2 w-100" style="max-width: 15rem;">
                      <h3 class="mb-2">Free</h3>
                      <div class="font-size-xs" style="max-width: 10rem;">Find aute irure dolor in reprehenderit in volatek</div>
                    </div>
                    <div class="d-flex w-100 align-items-end py-3 py-sm-2 px-4" style="max-width: 20rem;"><span class="h2 font-weight-normal text-muted mb-1 mr-2">$</span><span class="cs-price display-2 font-weight-normal text-primary px-1 mr-2 pricing-plan-value" data-current-price="0" data-new-price="0">0</span></div>
                    <ul class="list-unstyled py-2 mb-0">
                      <li class="d-flex align-items-center text-nowrap mb-3"><i class="fe-check font-size-xl text-primary mr-2"></i><span>Up to 3 projects for each member</span></li>
                      <li class="d-flex align-items-center text-nowrap mb-3"><i class="fe-check font-size-xl text-primary mr-2"></i><span>2 team members allowed</span></li>
                    </ul>
                  </div>
                  <div class="d-md-flex align-items-start border-bottom py-4 py-sm-5">
                    <div class="ml-4 ml-sm-0 py-2 w-100" style="max-width: 15rem;">
                      <h3 class="mb-2">Silver</h3>
                      <div class="font-size-xs" style="max-width: 10rem;">Find aute irure dolor in reprehenderit in volatek</div>
                    </div>
                    <div class="d-flex w-100 align-items-end py-3 py-sm-2 px-4" style="max-width: 20rem;"><span class="h2 font-weight-normal text-muted mb-1 mr-2">$</span><span class="cs-price display-2 font-weight-normal text-primary px-1 mr-2 pricing-plan-value" data-current-price="0" data-new-price="0">0</span></div>
                    <ul class="list-unstyled py-2 mb-0">
                      <li class="d-flex align-items-center text-nowrap mb-3"><i class="fe-check font-size-xl text-primary mr-2"></i><span>Up to 3 projects for each member</span></li>
                      <li class="d-flex align-items-center text-nowrap mb-3"><i class="fe-check font-size-xl text-primary mr-2"></i><span>2 team members allowed</span></li>
                    </ul>
                  </div>
                  <div class="d-md-flex align-items-start border-bottom py-4 py-sm-5">
                    <div class="ml-4 ml-sm-0 py-2 w-100" style="max-width: 15rem;">
                      <h3 class="mb-2">Gold</h3>
                      <div class="font-size-xs" style="max-width: 10rem;">Find aute irure dolor in reprehenderit in volatek</div>
                    </div>
                    <div class="d-flex w-100 align-items-end py-3 py-sm-2 px-4" style="max-width: 20rem;"><span class="h2 font-weight-normal text-muted mb-1 mr-2">$</span><span class="cs-price display-2 font-weight-normal text-primary px-1 mr-2 pricing-plan-value" data-current-price="0" data-new-price="0">0</span></div>
                    <ul class="list-unstyled py-2 mb-0">
                      <li class="d-flex align-items-center text-nowrap mb-3"><i class="fe-check font-size-xl text-primary mr-2"></i><span>Up to 3 projects for each member</span></li>
                      <li class="d-flex align-items-center text-nowrap mb-3"><i class="fe-check font-size-xl text-primary mr-2"></i><span>2 team members allowed</span></li>
                    </ul>
                  </div>
                  <div class="d-md-flex align-items-start py-4 py-sm-5">
                    <div class="ml-4 ml-sm-0 py-2 w-100" style="max-width: 15rem;">
                      <h3 class="mb-2">Custom</h3>
                      <div class="font-size-xs" style="max-width: 10rem;">Find aute irure dolor in reprehenderit in volatek</div>
                    </div>
                    <div class="d-flex w-100 align-items-end py-3 py-sm-2 px-4" style="max-width: 20rem;"><span class="cs-price display-2 font-weight-normal text-primary px-1 mr-2" data-current-price="15" data-new-price="12">Custom</span></div>
                    <ul class="list-unstyled py-2 mb-0">
                      <li class="d-flex align-items-center text-nowrap mb-3"><i class="fe-check font-size-xl text-primary mr-2"></i><span>Unlimited number of projects</span></li>
                      <li class="d-flex align-items-center text-nowrap mb-3"><i class="fe-check font-size-xl text-primary mr-2"></i><span>Up to 5 team members</span></li>
                      <li class="d-flex align-items-center text-nowrap mb-3"><i class="fe-check font-size-xl text-primary mr-2"></i><span>24/7 support</span></li>
                      <li class="d-flex align-items-center text-nowrap mb-3"><i class="fe-check font-size-xl text-primary mr-2"></i><span>Up to 30GB storage space</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Solutions-->
      <section class="container bg-overlay-content pt-5 pt-md-6 pt-lg-7">
        <h2 class="text-center pt-3 pt-md-0 mb-5">More solutions for you</h2>
        <div class="row">
          <div class="col-sm-6 mb-grid-gutter">
            <div class="bg-light box-shadow rounded-lg py-5 px-4">
              <div class="media d-block d-xl-flex align-items-center px-lg-3 py-xl-2 text-center text-sm-left">
                  <img class="d-inline-block mb-3 mb-xl-0" width="140" src="images/team.png" alt="Team"/>
                <div class="media-body pl-xl-3 ml-xl-3">
                  <h3 class="h4 text-primary pb-1">For Teams</h3>
                  <p>Aute irure dolor in reprehenderit in volup tate velit esse cillum dolore eu fugiat nulla pariatur sed quia consequuntur.</p><a class="nav-link-style" href="#">Read more<i class="fe-chevron-right font-size-xl ml-1"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-grid-gutter">
            <div class="bg-light box-shadow rounded-lg py-5 px-4">
              <div class="media d-block d-xl-flex align-items-center px-lg-3 py-xl-2 text-center text-sm-left">
                  <img class="d-inline-block mb-3 mb-xl-0" width="140" src="images/freelancer.png" alt="Freelancer"/>
                <div class="media-body pl-xl-3 ml-xl-3">
                  <h3 class="h4 text-primary pb-1">For Freelancers</h3>
                  <p>Aute irure dolor in reprehenderit in volup tate velit esse cillum dolore eu fugiat nulla pariatur sed quia consequuntur.</p><a class="nav-link-style" href="#">Read more<i class="fe-chevron-right font-size-xl ml-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- CTA-->
      <section class="bg-gradient py-5">
        <div class="container py-2 py-sm-4">
          <div class="row align-items-center">
            <div class="col-xl-6 col-md-7 mb-5 mb-md-0">
              <h2 class="text-light text-center text-md-left">Empower  your team. Try To Do Heroes</h2>
              <p class="text-light mb-grid-gutter text-center text-md-left">Everything you need from A to Z</p>
            </div>
            <div class="col-md-5 offset-xl-1"><img class="d-block mx-auto" width="437" src="images/cta-illustration.svg" alt="Illustration"/>
            </div>
          </div>
        </div>
      </section>
    </main>
    