<section class="container my-5" style="height: fit-content; min-height: 85vh; overflow-y: scroll;">
    <div class="row">
        <div class="col-12 col-sm-6">
            <form action="" method="post">
                <div class="form-group">
                    <label for="id-input">Id Box</label>
                    <input class="form-control" type="number" name="id-input" id="id-input" placeholder="37">
                </div>
                <div class="form-group">
                    <label for="total-inpu">Total</label>
                    <input class="form-control" type="number" name="total-input" id="total-input" placeholder="400">
                </div>
                <div class="form-group">
                    <label for="peso-inpu">Peso (Kg)</label>
                    <input class="form-control" type="number" name="peso-inpu" id="peso-inpu" placeholder="40">
                </div>
                <div class="form-group">
                    <label for="date-time-input">Data e horas</label>
                    <input class="form-control" type="datetime-local" name="date-time-input" id="date-time-input">
                </div>
                <button class="btn btn-success" type="submit">Submit Form</button>
            </form>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-center align-content-center flex-column">
            <h4>Id Box</h4>
            <p>É o identificador do contentor que esta a registrar</p>
            <h4>Total</h4>
            <p>É o total objetos que se incontra no contentor</p>
            <h4>Peso</h4>
            <p>É o peso do contentor en Kologramas</p>
            <h4>Data</h4>
            <p>É a data e a hora do registro</p>
        </div>
    </div>
</section>