<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Facturação</title>
    <link rel="stylesheet" href="/styles/styles.css" />
</head>

<body>
    <article>
        <h1>Sistema de Facturação</h1>
    </article>
    {{{body}}}
</body>

</html>